<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Sheetal Singh</title>
    <meta
      name="viewport"
      content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width"
    />
    <link rel="stylesheet" type="text/css" href="theme.css" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="topnav">
      <div class="logo">Sheetal Singh</div>
      <a class="active" href="/" target="_self"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="/audio" target="_self">Audio</a>
      <a href="/video" target="_self">Video</a>
      <a href="/table" target="_self">Table</a>
      <a href="/list" target="_self">List</a>
      <a href="/storefront" class="split" target="_self">online shop</a>
    </div>
    
    <div style="text-align: center">
      <h1>Audio Section - HTML 5 audio player</h1>
      <audio controls>
        <source
          src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3"
          type="audio/mpeg"
        />
        <source
          src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg"
          type="audio/ogg"
        />
        Your browser does not support the audio element.
      </audio>
    </div>
    <p>
      The HTML &lt;audio&gt; element is used to play an audio file on a web
      page. The controls attribute adds audio controls, like play, pause, and
      volume. The &lt;source&gt; element allows you to specify alternative audio
      files which the browser may choose from. The browser will use the first
      recognized format. Add muted after autoplay to let your audio file start
      playing automatically.
    </p>
    <footer class="footer-distributed">
			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>
			<div class="footer-left">

				<p class="footer-links">
          <a cclass="link-1" href="/" target="_self">Home</a>
          <a href="/audio" target="_self">Audio</a>
          <a href="/video" target="_self">Video</a>
          <a href="/table" target="_self">Table</a>
          <a href="/list" target="_self">List</a>
          <a href="/storefront"target="_self">online shop</a>
				</p>

				<p>Sheetal Singh - WEB322 &copy; 2022</p>
			</div>

		</footer>
  </body>
</html>
