<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Website - Sheetal singh</title>
</head>
<body>
    <h1>Welcome to my website</h1>
    <p>I will be demonstrating HTML5 principles and techniques, Routing in Express, and more.</p>
    <h2>My Learning Experience</h2>
    <p>I have learned a lot so far in this course and have gained a strong understanding of HTML5 concepts and techniques. It has been an exciting journey!</p>
    <h2>Introduction to HTML5</h2>
    <p>This site utilizes HTML5, a markup language used for structuring and presenting content on the World Wide Web.</p>
</body>
</html>
