<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Sheetal Singh</title>
    <meta
      name="viewport"
      content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width"
    />
    <link rel="stylesheet" type="text/css" href="theme.css" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="topnav">
      <div class="logo">Sheetal Singh</div>
      <a class="active" href="/" target="_self"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="/audio" target="_self">Audio</a>
      <a href="/video" target="_self">Video</a>
      <a href="/table" target="_self">Table</a>
      <a href="/list" target="_self">List</a>
      <a href="/storefront" class="split" target="_self">online shop</a>
    </div>
    <h1 style="text-align: center">Welcome To my Website!</h1>
    <h3 style="text-align: center; margin-left: 20%; margin-right: 20%">
      I will be demonstrating HTML5 principles and techniques, working with JSON
      data format and Promis object and Routing in Express.js. I Practice
      creating a web server using Node.js & Express.js and client (browser)
      requests specific routes.
    </h3>
    <hr />
    <h2 style="text-align: center">What have we learned so far?</h2>
    <p>
      Until this week we got familiar with Node.js and its popular framework
      Express.js. we also reviewed JavaScript Concept like working with promise
      object and error handling. we know how to build a simple web server using
      Node.js with Express.js and how to send Data back from a “get” request. we
      know what application object, request and response object are. we got
      familiar with routing that is a core features of express, and also
      Middleware and its different types.
    </p>
    <h2 style="text-align: center">What is HTML 5?</h2>
    <p>
      This site utilizes HTML5: a markup language used for structuring and
      presenting content on the World Wide Web. HTML5 is the latest version of
      Hypertext Markup Language, the code that describes web pages. It's
      actually three kinds of code: HTML, which provides the structure;
      Cascading Style Sheets (CSS), which take care of presentation; and
      JavaScript, which makes things happen.
    </p>


    <footer class="footer-distributed">
			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>
			<div class="footer-left">

				<p class="footer-links">
          <a cclass="link-1" href="/" target="_self">Home</a>
          <a href="/audio" target="_self">Audio</a>
          <a href="/video" target="_self">Video</a>
          <a href="/table" target="_self">Table</a>
          <a href="/list" target="_self">List</a>
          <a href="/storefront"target="_self">online shop</a>
				</p>

				<p>Sheetal Singh - WEB322 &copy; 2022</p>
			</div>

		</footer>
  </body>
</html>
