<!DOCTYPE html>
<html lang="en-US" class="hide-scroll">
  <head>
    <title>Sheetal Singh</title>
    <meta
      name="viewport"
      content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width"
    />
    <link rel="stylesheet" type="text/css" href="theme.css" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="topnav">
      <div class="logo">Sheetal Singh</div>
      <a class="active" href="/" target="_self"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="/audio" target="_self">Audio</a>
      <a href="/video" target="_self">Video</a>
      <a href="/table" target="_self">Table</a>
      <a href="/list" target="_self">List</a>
      <a href="/storefront" class="split" target="_self">online shop</a>
    </div>

    <h1>Welcome To This Page</h1>
    <h1>Personal Information</h1>
    <p>Name : Sheetal Singh</p>
    <p>Student ID : 167431212</p>
    <p>program : CPP</p>
    <h1>short list of healthy food with calories</h1>
    <ul>
      <li>
        Grain
        <ol>
          <li>
            Pinto beans
            <ul>
              <li>235 per 1 cup</li>
            </ul>
          </li>
          <li>
            Black eye peas
            <ul>
              <li>134 per 1 cup</li>
            </ul>
          </li>
          <li>
            White beans
            <ul>
              <li>249 per 1 cup</li>
            </ul>
          </li>
        </ol>
      </li>
      <li>
        Vegetables
        <ol>
          <li>
            Carrot
            <ul>
              <li>31 per 1 cup</li>
            </ul>
          </li>
          <li>
            Corn
            <ul>
              <li>89 per 1 cup</li>
            </ul>
          </li>
          <li>
            Sweet Potato
            <ul>
              <li>118 per 1 cup</li>
            </ul>
          </li>
        </ol>
      </li>
      <li>Meat</li>
    </ul>

    <footer class="footer-distributed">
			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>
			<div class="footer-left">

				<p class="footer-links">
          <a cclass="link-1" href="/" target="_self">Home</a>
          <a href="/audio" target="_self">Audio</a>
          <a href="/video" target="_self">Video</a>
          <a href="/table" target="_self">Table</a>
          <a href="/list" target="_self">List</a>
          <a href="/storefront"target="_self">online shop</a>
				</p>

				<p>Sheetal Singh - WEB322 &copy; 2022</p>
			</div>

		</footer>
  </body>
</html>
