<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the List Page - Sheetal singh</title>
</head>
<body>
    <h1>Welcome to the List Page</h1>
    <p>Thank you for visiting this page.</p>
    <h2>About Me</h2>
    <p>My name is sheetal singhS. I'm a student at seneca college, studying computer programming.</p>
    <h2>Healthy Food and Nutrition</h2>
    <ul>
        <li>Fruits
            <ul>
                <li>Apple</li>
                <li>Orange</li>
                <li>Banana</li>
            </ul>
        </li>
        <li>Vegetables
            <ol>
                <li>Broccoli</li>
                <li>Carrots</li>
                <li>Spinach</li>
            </ol>
        </li>
        <li>Proteins
            <ul>
                <li>Chicken</li>
                <li>Salmon</li>
                <li>Tofu</li>
            </ul>
        </li>
    </ul>
</body>
</html>
