<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Sheetal Singh</title>
    <meta
      name="viewport"
      content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="theme.css" /> 
  </head>
  <body>
    <div class="topnav">
      <a class="logo">Sheetal Singh</a>
      <a class="active" href="/" target="_self"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="/audio" target="_self">Audio</a>
      <a href="/video" target="_self">Video</a>
      <a href="/table" target="_self">Table</a>
      <a href="/list" target="_self">List</a>
      <a href="/storefront" class="split" target="_self">online shop</a>
    </div>
    <div class="product-header"><h2>List of products!</h2></div>

    <div class="container mt-100">
                            		

                            	
                               
      <div class="row">
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
<div class="main-img"><img src="https://i.imgur.com/O0GMYuw.jpg" alt="Category"></div>
<div class="thumblist"><img src="https://i.imgur.com/ILEU18M.jpg" alt="Category"><img src="https://i.imgur.com/2kePJmX.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Laptops</h4>
<p class="text-muted">Combining durability with power and performance, the ThinkPad E15 Gen 4 laptop</p>
<p class="text-muted">Starting from $499</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">buy now</a>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
<div class="main-img"><img src="https://i.imgur.com/uRgdVY1.jpg" alt="Category"></div>
<div class="thumblist"><img src="https://i.imgur.com/VwSKS7A.jpg" alt="Category"><img src="https://i.imgur.com/gTvZ2H5.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Mobiles</h4>
<p class="text-muted">A superbright display in a durable design. Hollywood-worthy video shooting made easy.</p>
<p class="text-muted">Starting from $50</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">buy now</a>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
<div class="main-img"><img src="https://i.imgur.com/0jO40CF.jpg" alt="Category"></div>
<div class="thumblist"><img src="https://i.imgur.com/dWYAg41.jpg" alt="Category"><img src="https://i.imgur.com/5oQEZSC.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Accessories</h4>
<p class="text-muted">Magic Mouse is wireless, with an optimized foot design lets it glide smoothly across desk.</p>
<p class="text-muted">Starting from $9</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">buy now</a>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
  <div class="inner">
  <div class="main-img"><img src="https://i.imgur.com/O0GMYuw.jpg" alt="Category"></div>
  <div class="thumblist"><img src="https://i.imgur.com/ILEU18M.jpg" alt="Category"><img src="https://i.imgur.com/2kePJmX.jpg" alt="Category"></div>
  </div></a>
  <div class="card-body text-center">
  <h4 class="card-title">Laptops</h4>
  <p class="text-muted">Combining durability with power and performance, the ThinkPad E15 Gen 4 laptop</p>
  <p class="text-muted">Starting from $499</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">buy now</a>
  </div>
  </div>
  </div>
  <div class="col-md-4 col-sm-6">
  <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
  <div class="inner">
  <div class="main-img"><img src="https://i.imgur.com/uRgdVY1.jpg" alt="Category"></div>
  <div class="thumblist"><img src="https://i.imgur.com/VwSKS7A.jpg" alt="Category"><img src="https://i.imgur.com/gTvZ2H5.jpg" alt="Category"></div>
  </div></a>
  <div class="card-body text-center">
  <h4 class="card-title">Mobiles</h4>
  <p class="text-muted">A superbright display in a durable design. Hollywood-worthy video shooting made easy.</p>
  <p class="text-muted">Starting from $50</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">buy now</a>
  </div>
  </div>
  </div>
  <div class="col-md-4 col-sm-6">
  <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
  <div class="inner">
  <div class="main-img"><img src="https://i.imgur.com/0jO40CF.jpg" alt="Category"></div>
  <div class="thumblist"><img src="https://i.imgur.com/dWYAg41.jpg" alt="Category"><img src="https://i.imgur.com/5oQEZSC.jpg" alt="Category"></div>
  </div></a>
  <div class="card-body text-center">
  <h4 class="card-title">Accessories</h4>
  <p class="text-muted">Magic Mouse is wireless, with an optimized foot design lets it glide smoothly across desk.</p>
  <p class="text-muted">Starting from $9</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">buy now</a>
  </div>
  </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
    <div class="inner">
    <div class="main-img"><img src="https://i.imgur.com/O0GMYuw.jpg" alt="Category"></div>
    <div class="thumblist"><img src="https://i.imgur.com/ILEU18M.jpg" alt="Category"><img src="https://i.imgur.com/2kePJmX.jpg" alt="Category"></div>
    </div></a>
    <div class="card-body text-center">
    <h4 class="card-title">Laptops</h4>
    <p class="text-muted">Combining durability with power and performance, the ThinkPad E15 Gen 4 laptop</p>
    <p class="text-muted">Starting from $499</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">buy now</a>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-sm-6">
    <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
    <div class="inner">
    <div class="main-img"><img src="https://i.imgur.com/uRgdVY1.jpg" alt="Category"></div>
    <div class="thumblist"><img src="https://i.imgur.com/VwSKS7A.jpg" alt="Category"><img src="https://i.imgur.com/gTvZ2H5.jpg" alt="Category"></div>
    </div></a>
    <div class="card-body text-center">
    <h4 class="card-title">Mobiles</h4>
    <p class="text-muted">A superbright display in a durable design. Hollywood-worthy video shooting made easy.</p>
    <p class="text-muted">Starting from $50</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">buy now</a>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-sm-6">
    <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
    <div class="inner">
    <div class="main-img"><img src="https://i.imgur.com/0jO40CF.jpg" alt="Category"></div>
    <div class="thumblist"><img src="https://i.imgur.com/dWYAg41.jpg" alt="Category"><img src="https://i.imgur.com/5oQEZSC.jpg" alt="Category"></div>
    </div></a>
    <div class="card-body text-center">
    <h4 class="card-title">Accessories</h4>
    <p class="text-muted">Magic Mouse is wireless, with an optimized foot design lets it glide smoothly across desk.</p>
    <p class="text-muted">Starting from $9</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">buy now</a>
    </div>
    </div>
    </div>
</div>
</div>
    <footer class="footer-distributed" style="position: relative;">
			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>
			<div class="footer-left">

				<p class="footer-links">
          <a cclass="link-1" href="/" target="_self">Home</a>
          <a href="/audio" target="_self">Audio</a>
          <a href="/video" target="_self">Video</a>
          <a href="/table" target="_self">Table</a>
          <a href="/list" target="_self">List</a>
          <a href="/storefront"target="_self">online shop</a>
				</p>

				<p>Reza Karzari - WEB322 &copy; 2022</p>
			</div>

		</footer>
  </body>
</html>
